name: Connect to azure vm and execute commands

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: run commands
      run: |
        ssh -i demo.pem azureuser@20.124.29.116 -y; 
        sudo echo "hello world" > connected.txt;
        exit;
